<div class="full">
  <div class="container jumbotron">
    <div class="main-title text-center">
      <h1>"MINIEYE" 杯</h1>
      <h2>第十六届华中师范大学ACM程序设计竞赛</h2>
    </div>

    <div class="introduction-index">
      <ul class="index-list">
  		  <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-info">大赛简介</a>
  		  </li>
        <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-schedule" >大赛日程</a>
  		  </li>
        <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-rule">比赛规则</a>
  		  </li>
        <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-award">奖项设置</a>
  		  </li>
  		</ul>
    </div>

    <div class="block contest-info" id="contest-info">
      <div class="block-title text-center">
        <h4>大赛简介</h4>
      </div>
      <div class="block-content">
        <p class="lead">
          <strong>华中师范大学ACM程序设计竞赛</strong>是一年一度的面向全武汉各高校选手的编程竞赛。
          <br>
          <br>
          本次比赛由华中师范大学计算机学院主办，华中师范大学ACM协会承办，旨在加强武汉地区各高校ACM选手的交流，分享优秀经验，吸引更多的编程爱好者参与。
          <br>
          <br>
          欢迎大家加入比赛交流群：<strong>488056545</strong>
        </p>
      </div>
    </div>

    <div class="block block-special-background contest-schedule" id="contest-schedule">
      <div class="block-title text-center">
        <h4>大赛日程</h4>
      </div>
      <div class="block-content">
        <p class="lead">
          <strong>报名时间：</strong> x 月 x 日 至 x 月 x 日
          <br>
          <br>
          <strong>比赛时间：</strong> x 月 x 日 xx:xx 至 xx:xx
          <br>
          <br>
          <strong>比赛地点：</strong> 华中师范大学 九号楼 xxxx机房
        </p>
      </div>
    </div>

    <div class="block contest-rule" id="contest-rule">
      <div class="block-title text-center">
        <h4>比赛规则</h4>
      </div>
      <div class="block-content">
        <p class="lead">
          于华中武汉地区就读的本科生均报名参加本赛事。
          赛制为组队赛，每个队伍最多有三名成员，在比赛期间我们为每个队伍提供一台没有接入互联网的计算机。
          <br>
          比赛题目为 12 道，以中文描述。
        </p>
        <br>
        <p class="lead">
          选手可以携带任何印刷品入场以供比赛期间查阅。
          <br>
          选手不可携带任何电子设备进入赛场。比赛期间任何使用电子设备的企图将被视为作弊行为，并使选手失去参赛资格。
          <br>
          比赛期间提供代码打印的服务。
          <br>
          选手应无条件服从裁判的指令和判决。
        </p>
        <br>
        <p class="lead">
          选手所用计算机运行 Windows 7，安装有以下开发工具：
          <br>
          CodeBlocks
          <br>
          测试机的操作系统为 Ubuntu Linux，可用的编译器有：
          <br>
          GCC 5.2.1
          <br>
          <del>Open JDK 7</del>
          <br>
          比赛使用 DOM Judge 处理选手的提交。选手的程序只能通过标准输入输出与操作系统交互。
        </p>
        <br>
        <p class="lead">
          C 程序的编译命令为<br><code>$ gcc -std=c11 -O2 -o main main.cpp</code>。<br>64 位整数的格式说明符为 <code>%lld</code> 和 <code>%llu</code>。
        </p>
        <p class="lead">
          C++ 程序的编译命令为<br><code>$ g++ -std=c++11 -O2 -o main main.cpp</code>。<br>64 位整数的格式说明符为 <code>%lld</code> 和 <code>%llu</code>。
        </p>
      </div>
    </div>

    <div class="block block-special-background contest-award" id="contest-award">
      <div class="block-title text-center">
        <h4>奖项设置</h4>
      </div>
      <div class="block-content">
        <p class="lead">
          <strong>特等奖：</strong>  一名<br>
          奖品：<br>
          <br>
          <strong>一等奖：</strong>  一名<br>
          奖品：<br>
          <br>
          <strong>二等奖：</strong>  四名<br>
          奖品：<br>
          <br>
          <strong>三等奖：</strong>  八名<br>
          奖品：<br>
        </p>
      </div>
    </div>
  </div>
</div>
