<div class="full">
  <div class="container jumbotron">
    <div class="main-title text-center" style="color: #33ccff;">
      <h1>
        <a href="http://www.minieye.cc/tech" style="color: #33ccff;" target="blank">MINIEYE</a>杯
        华中师范大学
      </h1>
      <h2>第十六届程序设计竞赛</h2>
    </div>

    <div class="introduction-index">
      <ul class="index-list">
  		  <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-info">大赛简介</a>
  		  </li>
        <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-schedule" >大赛日程</a>
  		  </li>
        <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-rule">比赛规则</a>
  		  </li>
        <li class="col-md-3 text-center index-item">
  		    <a href="/introduction#contest-award">奖项设置</a>
  		  </li>
  		</ul>
    </div>

    <div class="block contest-info" id="contest-info">
      <div class="block-title text-center">
        <h4>大赛简介</h4>
      </div>
      <div class="block-content">
        <p class="lead paragraph">
          <strong>“MINIEYE杯”华中师范大学</strong>
          第十六届程序设计竞赛
          是由华中师范大学计算机学院主办、华中师范大学ACM协会承办、
          <a href="http://www.minieye.cc/tech" style="color: #33ccff;" target="blank">深圳佑驾创新科技公司</a>
          独家冠名赞助的一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。
          <br>
          <br>
          官方交流群：<strong>488056545</strong>
        </p>
      </div>
    </div>

    <div class="block block-special-background contest-schedule" id="contest-schedule">
      <div class="block-title text-center">
        <h4>大赛日程</h4>
      </div>
      <div class="block-content">
        <p class="lead">
          <strong>报名时间：</strong> 5 月 19 日 至 6 月 1 日
          <br>
          <br>
          <strong>比赛时间：</strong> 6 月 3 日 10:00 至 15:00
          <br>
          <br>
          <strong>比赛地点：</strong> 华中师范大学 九号楼 11层机房
        </p>
      </div>
    </div>

    <div class="block contest-rule" id="contest-rule">
      <div class="block-title text-center">
        <h4>比赛规则</h4>
      </div>
      <div class="block-content">
        <ul type="circle">
          <p class="lead">
            <li>各校学生以团队的形式代表各学校参赛，每队最多由3名队员组成，每位队员必须是在校学生，取得学士学位超过两年，或进行研究生学习超过两年的学生不符合参赛队员的资格。</li>
            <li>比赛期间，每队需要使用1台电脑在5个小时内使用C、C++中的一种编写程序解决问题，问题总数在10到13个之间。</li>
          </p>
          <br>
          <p class="lead">
            <li>程序完成之后提交裁判运行，运行的结果会判定为“AC(正确)/WA（错误）/TLE（超时）/MLE（超出内存限制）/RE（运行错误）/PE（格式错误）”中的一种并及时通知参赛队。</li>
            <li>每队在正确完成一题后，组织者将在其位置上升起一只代表该题颜色的气球。</li>
            <li>最后的获胜者为正确解答题目最多且总用时最少的队伍。</li>
            <li>每道试题用时将从竞赛开始到试题解答被判定为正确为止，其间每一次提交运行结果被判错误时将被加罚20分钟时间，未正确解答的试题不记时。</li>
          </p>
          <br>
          <p class="lead">
            <li>参赛选手可携带纸质印刷品进行查阅。</li>
            <li>禁止携带任何电子设备，比赛期间任何使用电子设备的行为都被视为作弊并取消其参赛资格。<li>
            <li>比赛期间提供代码打印服务。</li>
            <li>选手应无条件服从裁判的指令和判决。</li>
          </p>
          <br>
          <p class="lead">
            <li>本场比赛为参赛选手提供Windows 7系统，可用IDE：CodeBlocks</li>
            <li>评测机为 Ubuntu Linux 系统，编译器版本：GCC 7.3.0</li>
            <li><del>Open JDK 7</del></li>
            <li>本场比赛使用 DOM Judge 处理选手的提交，选手的程序只能通过标准输入输出与操作系统交互。</li>
          </p>
        </ul>
        <br>
        <p class="lead">
          C 程序的编译命令为<br><code>$ gcc -std=c11 -O2 -o main main.cpp</code>。<br>64 位整数的格式说明符为 <code>%lld</code> 和 <code>%llu</code>。
        </p>
        <p class="lead">
          C++ 程序的编译命令为<br><code>$ g++ -std=c++11 -O2 -o main main.cpp</code>。<br>64 位整数的格式说明符为 <code>%lld</code> 和 <code>%llu</code>。
        </p>
      </div>
    </div>

    <div class="block block-special-background contest-award" id="contest-award">
      <div class="block-title text-center">
        <h4>奖项设置</h4>
      </div>
      <div class="block-content">
        <p class="lead">
          <strong>特等奖：</strong>  一名<br>
          奖品：HHKB（每队）<br>
          <br>
          <strong>一等奖：</strong>  一名<br>
          奖品：Kindle（每人）<br>
          <br>
          <strong>二等奖：</strong>  四名<br>
          奖品：小米手环（每人）<br>
          <br>
          <strong>三等奖：</strong>  八名<br>
          奖品：抱枕被子两用（每人）<br>
        </p>
      </div>
    </div>
  </div>
</div>
