.full {
  background-color: #e9ecef;
  min-height: 100%;
  width: 100%;
  position: absolute;
}
.full .container {
  background-color: #ffffff;
  margin-top: 40px !important;
  padding: 3rem 3rem;
}

.main-title {
  margin: 1rem;
}

.introduction-index {
  height: 50px;
  margin: 15px 0;
  background-color: #33ccff;
}

.index-list{
  flex-direction: row;
  display: flex;
  list-style-type: none;
  padding: 15px 0;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #fff;
}

.block {
  padding: 25px 3rem;
}

.block-special-background {
  background-color: rgb(236,250,255);
}

.block-title {
  margin: 5px 0 30px 0;
}

.block-content {
}

.paragraph {
  text-indent: 2em;
}
