.nav-link, .super-identity-label {
  color: #33ccff !important;
  font-size: 15px;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-brand {
  color: #33ccff !important;
  font-weight: bold;
}

.navbar .container {
  max-width: 1140px;
  padding: 0 3rem;
}
